#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.fruit-container {
    width: 500px;
    height: 200px;
    background-color: blue;
}

.vegetables-container {
    width: 500px;
    height: 200px;
    background-color: white;
}

ul {
    list-style-type: none;
}

.vegetables-container_dont {
    background-color: red;
    padding: 5px 8px;
}